
<div class="tab-border">
    <div class="logo" *ngIf="innerWidth > 1600">
        JurisTeste
    </div>
    <div class="container navbar-component" *ngIf="router.url !== '/login'" [ngClass]="{'logo-collapse': innerWidth < 1600, 'logo-complete': innerWidth > 1600}">
        <div *ngIf="innerWidth > 1600">
            <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="setActive($event)"></p-tabMenu>
        </div>
        <div *ngIf="innerWidth > 1600" style="display: flex;">
            <button pButton icon="pi pi-sign-out" class="p-button-rounded p-mr-2" (click)="logoutDialog()"></button>
        </div>
        <div *ngIf="innerWidth < 1600">
            <button #btn type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>
            <p-tieredMenu #menu [model]="itemsCollapse" [popup]="true"></p-tieredMenu>
        </div>
    </div>
</div>
<div class="container">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</div>

<p-dialog [closable]="false" header="Deslogar" [(visible)]="display" [style]="{ width: '30vw' }" styleClass="p-fluid">
    <div style="display: flex;  align-items: center;">
        <button pButton disabled icon="pi pi-exclamation-triangle" class="p-button-rounded p-alert-icon"></button>
        <p style="margin-left: 20px;">Deseja mesmo deslogar?</p>
    </div>
  
    <ng-template pTemplate="footer">
            <button pButton label="Não" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton label="Sim" icon="pi pi-check" class="p-button-text" (click)="loginScreen()"></button>
    </ng-template>
</p-dialog>