.button-new-p {
  margin-top: 15px;
  text-align: start;
  margin-right: 54px;
}

.p-button-text {
  background: #3B82F6;
  color: white;
}

.p-alert-icon {
  color: black;
  background-color: white;
  border: white;
}

.p-button-mod {
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  width: 25%;
}

.container-buttons {
  display: flex;
  place-content: end;
  margin-top: 15px;
  margin-bottom: 15px;
}

.div-red {
  color: red;
}