<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div class="button-new-p">
  <button pButton pRipple icon="pi pi-plus" label="Novo" (click)="openDialog()" class="p-button-text"></button>
</div>

<app-searchbox (onSearch)="busca($event)"></app-searchbox>
<p-table [value]="varas">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Setor</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-s>
    <tr>
      <td>{{s.id}}</td>
      <td>{{s.nome}}</td>
      <td>{{s.setor}}</td>
      <td styleClass="p-button-div" style="text-align: end; margin-right: 30px;">
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-mr-2" style="margin-right: 20px;" (click)="editarVara(s)"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="handleDeleteDialog(s)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>


<p-dialog [closable]="false" header="Cadastro de Varas" [(visible)]="displayVara"  [style]="{ width: '40vw' }" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="formVara" (ngSubmit)="onSubmit($event)">
      <input hidden type="text" pInputText id="id" [formControl]="id" required autofocus formControlName="id"/>
      <div>
        <h5>Nome</h5>
        <input type="text" pInputText id="nome" [formControl]="nome" required autofocus formControlName="nome"/>
      </div>
      <div [hidden]="nome.valid || nome.untouched">  
        <div [hidden]="!nome.hasError('minlength')" class="div-red">
          Nome tem que ter no minimo 5 caracteres.
        </div>
        <div [hidden]="!nome.hasError('required')" class="div-red">
          Nome é obrigatorio.
        </div>
      </div>

      <div>
        <h5>Setor</h5>
        <p-dropdown appendTo="body" [options]="setoresList" placeholder="Selecionar o tipo de setor" [showClear]="true" formControlName="setores_id">
        </p-dropdown>
      </div>
      <div [hidden]="setores_id.valid || setores_id.untouched">  
        <div [hidden]="!setores_id.hasError('required')" class="div-red">
          Setor é obrigatorio.
        </div>
      </div>

      <div class="container-buttons">
        <button pButton pRipple type="button" label="Cancelar" style="margin-right: 15px;" class="p-button-text p-button-mod" (click)="hideDialog()"></button>
        <input pButton type="submit" class="p-button-text p-button-mod" [disabled]="!formVara.valid" value="Salvar">
      </div>
    </form>
  </ng-template>
</p-dialog>


<p-dialog [closable]="false" header="Exclusão" [(visible)]="displayDelete" [style]="{ width: '30vw' }" styleClass="p-fluid">
  <div style="display: flex;  align-items: center;">
      <button pButton disabled icon="pi pi-exclamation-triangle" class="p-button-rounded p-alert-icon"></button>
      <p style="margin-left: 20px;">Deseja mesmo deletar essa vara?</p>
  </div>

  <ng-template pTemplate="footer">
          <button pButton label="Não" icon="pi pi-times" class="p-button-text" (click)="hideDeleteDialog()"></button>
          <button pButton label="Sim" icon="pi pi-check" class="p-button-text" (click)="deleteSelectedVara()"></button>
  </ng-template>
</p-dialog>
